//--- Colors ---//
$orange:	#F15A2A
$cream:		#F4F2E0
$dimorange:	#762F1B
$orangered: #A13F24

//--- Brand ---//
$brand-primary:		$orange
$brand-secondary:	$cream

$brand-1:			$brand-primary
$brand-2:			$brand-secondary
$brand-3:			$dimorange
$brand-4:			$orangered

//--- Content ---//
$overlay:	rgba(0,0,0,0.15)