//--- Fonts ---//
$patua:		'Patua One', sans-serif
$roboto:	'Roboto', sans-serif
$robotoc:	'Roboto Condensed', sans-serif

$main: $roboto
$brand: $patua
$header: $robotoc

//--- Z-index ---//
$nav: 100

//--- Metrics ---//
$nav-height: 62px
