@import color
@import var

html,body
	margin: 0
	padding: 0
	width: 100%
	color: $brand-secondary
	background: $brand-secondary
	font-family: $main
	font-weight: 500



//--- Global and generic stuff ---//

.pull-left
	float: left
.pull-right
	float: right
.invert
	color: $brand-4
	.invert
		color: $brand-2
	p
		color: $brand-3
a
	color: $brand-secondary
	text-decoration: none
	&:hover
		color: $brand-3
ul
	list-style-type: none
h1,h2,h3
	text-transform: uppercase
h1
	font-family: $brand
	font-weight: 100
	font-size: 3.5em
	margin: 0
	// line-height: .5em
	// margin: .75em 0
h2
	font-family: $robotoc
	font-weight: 500
	font-size: 2.5em
h3
	font-family: $robotoc
	font-weight: 600
	font-size: 2em
	margin: 0
p
	font-size: 1.2em
	line-height: 1.75em
	letter-spacing: .05em



//--- Utilities ---//

.overlay
	width: 100%
	height: 100%
	z-index: $nav - 50
	background: $overlay
	overflow: hidden
	position: absolute
	top: 0
	left: 0
	pointer-events: none
.heroimg,.sideimg
	position: relative



//--- The meat of this situation ---//

//--- NAVBAR ---//
header
	width: 100%
	position: fixed
	z-index: $nav
	top: 0
	left: 0
	nav
		text-transform: uppercase
		position: relative
		height: $nav-height
		border: 1px solid gray
		box-sizing: border-box
		>ul
			padding: 0 40px
			position: relative
			z-index: $nav
			height: 100%
			margin: 0
			>li
				display: block
				height: 100%
		.bar
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			z-index: $nav - 10
			background: $brand-primary
			opacity: .95

.navlink
	display: block
	height: 100%
	box-sizing: border-box
	line-height: $nav-height
	font-size: 1.5em
	&.menu
		// font-size: 1.5em
		letter-spacing: .125em
	&.logotype
		// font-size: 1.375em
		color: $brand-4
		font-family: $brand
		font-weight: normal
		&:hover
			color: $brand-3



//--- MENU ---//

.fs-menu
	display: none



//--- Formatting ---//

.bodywrap
	width: 100%
	// margin-top: $nav-height
	font-weight: 100
	section
		width: 100%
		overflow: hidden
		height: 720px
		.pull-left,
		.pull-right
			// background: $dimorange
			// height: 100px
			width: 50%
			height: 100%
			box-sizing: border-box
		.sideimg
			>div
				width: 100%
				height: 100%
	.fold
		height: auto
		.heroimg
			height: 650px
			background: $brand-4

.content
	text-align: center
	box-sizing: border-box
	.desc
		width: 80%
		max-width: 1280px
		margin: 0 auto
		padding: 100px
		box-sizing: border-box
	&.pull-left,
	&.pull-right
		text-align: left
		.desc
			padding: 10% 0
			width: 65%
			max-width: 720px
.imgwrap
	width: 100%
	height: 100%
	overflow: hidden
	background: darken($brand-4, 5%)



//--- Brewery ---//

.heroimg
	img
		width: 100%
		height: auto
.content
	&.pull-right
		background: $brand-primary
	&.pull-left
		background: $brand-5
.fold.on-tap .desc
	width: auto
	max-width: 100%
	padding: 50px 0 0 0
	h1
		margin: 40px 0
.bgbeer
	width: 100%
	height: 345px
	background: url('../img/beerpattern.jpg') top center repeat-x
.beeroverlay
	position: relative
	padding: 45px 0
	width: 100%
	background: $brand-5
	p
		font-size: 1.375em
		margin: 5px 0 0 0
		color: $brand-3
	.triangleup
		position: absolute
		bottom: 100%
		left: 50%
		width: 0
		height: 0
		border-left: 75px solid transparent
		border-right: 75px solid transparent
		border-bottom: 35px solid $brand-4
		margin-left: -75px



//--- Responsive Time! ---//

@media #{$sdesk-max}
	p
		font-size: 1em
	.bodywrap .fold .heroimg
		height: 480px

@media #{$sdesk-max}
	p
		font-size: 1em
	.bodywrap .fold .heroimg
		height: 480px